# Entorno virtual
.venv/

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración VS Code
.vscode/

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Archivos temporales
*.log
*.tmp

# Windows
Thumbs.db
Desktop.ini